<div class="text-center">
<%= form_for(@event, multipart: true) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
	  <div class="col-md-6">
	    <div class="field form-group">
	      <%= f.label :title %><br>
	      <%= f.text_field :title, :class => 'form-control' %>
	    </div>
	  </div>

	  <div class="col-md-6">
	    <div class="field form-group">
	      <%= f.label :description %><br>
	      <%= f.text_area :description, :class => 'form-control' %>
	    </div>
	  </div>
	</div>

  <div class="col-md-12">
    <div class="actions form-group">
      <% if @event.new_record? %>
        <%= link_to "Cancel", events_path, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to "Cancel", event_path(@event), class: 'btn btn-danger' %>
      <% end %>
      <%= f.submit :class => 'btn btn-success' %>
    </div>
  </div>
<% end %>
</div>