<section>
  <div class="container">
    <br><br>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Events", events_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @event.title %></li>
      </ol>
    </nav>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
			<div class="col-md-3 well" style="padding-right:20px; border-right: 1px solid #ccc;">
			  <h1>Admin Tools</h1>
			  <div class="btn-group-vertical btn-group-lg" role="group">
			  <%= link_to "New Event", new_event_path, class: "btn btn-lg btn-success" %>

			  <%= link_to "Edit", edit_event_path(@event), class: "btn btn-lg btn-info" %>

			  <%= link_to "Delete", @event, class: "btn btn-lg btn-danger", method: "delete", data: { confirm: "Are you sure want to delete this event? This is a permanent removal. If you would rather Deactivate this product, click to 'Edit' this event instead." } %>
			  </div>
			</div>
			<div class="col-md-9">
			  <div>
					<h3><%= @event.title %></h3>
			  </div>
			  <div>
			    <%= @event.description %>        
			  </div>
			</div>
    </div>
  </div>
</section>